{% extends 'base.html' %}

{% block content %}
    <h3>Welcome to Presentation of EYAZIS laboratories</h3>
    <div class="row">
        <div class="col-sm-8">
            <div class="mt-3 mb-5">
                <a href="{% url 'sem-1' %}">First semester</a>
            </div>
            <div class="mb-5">
                <a href="{% url 'sem-2' %}">Second semester</a>
            </div>
        </div>
        <div class="col-sm-4 menu-container">
            Click on link to open semester labs
        </div>
    </div>
{% endblock %}
